.nav-bar{
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg,#ff7abe,#ff9770);
    box-shadow: rgba(0, 0, 0, 0.671) 0px 0px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#profile-pic{
    width: 75px;
    margin: 20px 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.671) 0px 0px 15px;
    border-radius: 50%;
}

#username{
    margin-top: -10px;
    font-weight: bold;
    color: white;
}

.nav-icon{
    width: 45px;
    padding: 20px;
}