.login-page{
    height: 100vh;
    background: linear-gradient(99deg, #ff70a6 0%, #ff9770 40%, #ffd670  73%, #e9ff70 100%);
    display: flex;
}

.login-container{
    height: 450px;
    width: 250px;
    padding: 40px;
    margin: auto;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(97deg,#ff7a6e,
    #ffd670);
    box-shadow: rgba(0, 0, 0, 0.424) 0px 3px 18px;
}

h1{
    font-size: 80px;
    font-weight: 900;
    margin: 10px auto;
}

.login-input{
    width: 200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-text{
    font-weight: bold;
    padding-right: 5px;
}

button{
    /* font-family: 'Open Sans', sans-serif; */
    padding: 10px 20px;
    margin: 0 5px;
    font-weight: 600;
    color: white;
    border: none;
    background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
}